# Ignore virtual environment directory
backend/url_shortener/venv/

# Ignore Python bytecode files
*.pyc
*/__pycache__/*

# Ignore Django migrations
*/migrations/*

# Ignore IDE-specific files
.idea/
.vscode/
/backend/.idea/
# Ignore system-specific files
.DS_Store
Thumbs.db
